section
	.container
		.row
			.col-lg-12.col-md-12.col-sm-12.col-xs-12
				.content.full-width
					h1 eSport News
					ul.nav
						li.current-menu-item
							a(href="#") Digest
						li
							a(href="#") News
						li
							a(href="#") LifeStyle
						li
							a(href="#") Culture
						li
							a(href="#") Opinions
					.news.full-width
						.items
							a.item(href="#")
								img(src="http://via.placeholder.com/680x420", alt="#")
								p.tag
									img(src="img/flame.svg", alt="#")
									| HOT
								.description
									ul.tags
										li Dota 2
										li Oct 19
										li Walter White
									h3 7Sports Acquires eSports.com Following Insolvency of Joint Venture Partner
									p Despite winning the whole tournament, Secret performed poorly in the group stages, with losses to EG, PSG.LGD, and even Keen Gaming. A trip to the losers bracket proved to be just what the team needed to stand back up, as they battled through OG, TNC Predator, Gambit, and PSG on their way to finals.
							a.item(href="#")
								img(src="http://via.placeholder.com/320x198", alt="#")
								.description
									ul.tags
										li Dota 2
										li LifeStyle
										li Oct 19
										li Walter White
									h3 Is Franchising The Future For Esports?
							a.item(href="#")
								img(src="img/post-2.jpg", alt="#")
								.description
									ul.tags
										li Dota 2
										li LifeStyle
										li Oct 19
										li Walter White
									h3 Turtle Beach Reports $3.1M Net Loss, ROCCAT Integration, and Share Repurchase
							a.item(href="#")
								img(src="img/post-3.jpg", alt="#")
								.description
									ul.tags
										li Dota 2
										li LifeStyle
										li Oct 19
										li Walter White
									h3 Is Franchising The Future For Esports?
							a.item(href="#")
								img(src="img/post-3.jpg", alt="#")
								.description
									ul.tags
										li Dota 2
										li LifeStyle
										li Oct 19
										li Walter White
									h3 Is Franchising The Future For Esports?
						a.button.gray(href="#") See more
					.news.full-width
						h2
							span Digest
						.items
							a.item(href="#")
								img(src="http://via.placeholder.com/680x320", alt="#")
								.description
									h3 Slasher explains
										br
										| upside of esports on
										br
										| Fox Business Network
							a.item(href="#")
								img(src="http://via.placeholder.com/320x198", alt="#")
								.description
									ul.tags
										li Dota 2
										li LifeStyle
										li Oct 19
										li Walter White
									h3 Is Franchising The Future For Esports?
							a.item(href="#")
								img(src="img/post-2.jpg", alt="#")
								.description
									ul.tags
										li Dota 2
										li LifeStyle
										li Oct 19
										li Walter White
									h3 Turtle Beach Reports $3.1M Net Loss, ROCCAT Integration, and Share Repurchase
							a.item(href="#")
								img(src="http://via.placeholder.com/320x198", alt="#")
								.description
									ul.tags
										li Dota 2
										li LifeStyle
										li Oct 19
										li Walter White
									h3 Is Franchising The Future For Esports?
							a.item(href="#")
								img(src="img/post-2.jpg", alt="#")
								.description
									ul.tags
										li Dota 2
										li LifeStyle
										li Oct 19
										li Walter White
									h3 Turtle Beach Reports $3.1M Net Loss, ROCCAT Integration, and Share Repurchase
							a.item(href="#")
								img(src="img/post-3.jpg", alt="#")
								.description
									ul.tags
										li Dota 2
										li LifeStyle
										li Oct 19
										li Walter White
									h3 Is Franchising The Future For Esports?
							a.item(href="#")
								img(src="img/post-3.jpg", alt="#")
								.description
									ul.tags
										li Dota 2
										li LifeStyle
										li Oct 19
										li Walter White
									h3 Is Franchising The Future For Esports?
						a.button.gray(href="#") See more
					.news.full-width
						h2
							span News
						.items
							a.item(href="#")
								img(src="http://via.placeholder.com/680x320", alt="#")
								.description
									h3 Slasher explains
										br
										| upside of esports on
										br
										| Fox Business Network
							a.item(href="#")
								img(src="http://via.placeholder.com/320x198", alt="#")
								.description
									ul.tags
										li Dota 2
										li LifeStyle
										li Oct 19
										li Walter White
									h3 Is Franchising The Future For Esports?
							a.item(href="#")
								img(src="img/post-2.jpg", alt="#")
								.description
									ul.tags
										li Dota 2
										li LifeStyle
										li Oct 19
										li Walter White
									h3 Turtle Beach Reports $3.1M Net Loss, ROCCAT Integration, and Share Repurchase
							a.item(href="#")
								img(src="http://via.placeholder.com/320x198", alt="#")
								.description
									ul.tags
										li Dota 2
										li LifeStyle
										li Oct 19
										li Walter White
									h3 Is Franchising The Future For Esports?
							a.item(href="#")
								img(src="img/post-2.jpg", alt="#")
								.description
									ul.tags
										li Dota 2
										li LifeStyle
										li Oct 19
										li Walter White
									h3 Turtle Beach Reports $3.1M Net Loss, ROCCAT Integration, and Share Repurchase
							a.item(href="#")
								img(src="img/post-3.jpg", alt="#")
								.description
									ul.tags
										li Dota 2
										li LifeStyle
										li Oct 19
										li Walter White
									h3 Is Franchising The Future For Esports?
							a.item(href="#")
								img(src="img/post-3.jpg", alt="#")
								.description
									ul.tags
										li Dota 2
										li LifeStyle
										li Oct 19
										li Walter White
									h3 Is Franchising The Future For Esports?
						a.button.gray(href="#") See more
					.news.full-width
						h2
							span Lifestyle
						.items
							a.item(href="#")
								img(src="http://via.placeholder.com/680x320", alt="#")
								.description
									h3 Slasher explains
										br
										| upside of esports on
										br
										| Fox Business Network
							a.item(href="#")
								img(src="http://via.placeholder.com/320x198", alt="#")
								.description
									ul.tags
										li Dota 2
										li LifeStyle
										li Oct 19
										li Walter White
									h3 Is Franchising The Future For Esports?
							a.item(href="#")
								img(src="img/post-2.jpg", alt="#")
								.description
									ul.tags
										li Dota 2
										li LifeStyle
										li Oct 19
										li Walter White
									h3 Turtle Beach Reports $3.1M Net Loss, ROCCAT Integration, and Share Repurchase
							a.item(href="#")
								img(src="http://via.placeholder.com/320x198", alt="#")
								.description
									ul.tags
										li Dota 2
										li LifeStyle
										li Oct 19
										li Walter White
									h3 Is Franchising The Future For Esports?
							a.item(href="#")
								img(src="img/post-2.jpg", alt="#")
								.description
									ul.tags
										li Dota 2
										li LifeStyle
										li Oct 19
										li Walter White
									h3 Turtle Beach Reports $3.1M Net Loss, ROCCAT Integration, and Share Repurchase
							a.item(href="#")
								img(src="img/post-3.jpg", alt="#")
								.description
									ul.tags
										li Dota 2
										li LifeStyle
										li Oct 19
										li Walter White
									h3 Is Franchising The Future For Esports?
							a.item(href="#")
								img(src="img/post-3.jpg", alt="#")
								.description
									ul.tags
										li Dota 2
										li LifeStyle
										li Oct 19
										li Walter White
									h3 Is Franchising The Future For Esports?
						a.button.gray(href="#") See more
					.news.full-width
						h2
							span Culture
						.items
							a.item(href="#")
								img(src="http://via.placeholder.com/680x320", alt="#")
								.description
									h3 Slasher explains
										br
										| upside of esports on
										br
										| Fox Business Network
							a.item(href="#")
								img(src="http://via.placeholder.com/320x198", alt="#")
								.description
									ul.tags
										li Dota 2
										li LifeStyle
										li Oct 19
										li Walter White
									h3 Is Franchising The Future For Esports?
							a.item(href="#")
								img(src="img/post-2.jpg", alt="#")
								.description
									ul.tags
										li Dota 2
										li LifeStyle
										li Oct 19
										li Walter White
									h3 Turtle Beach Reports $3.1M Net Loss, ROCCAT Integration, and Share Repurchase
							a.item(href="#")
								img(src="http://via.placeholder.com/320x198", alt="#")
								.description
									ul.tags
										li Dota 2
										li LifeStyle
										li Oct 19
										li Walter White
									h3 Is Franchising The Future For Esports?
							a.item(href="#")
								img(src="img/post-2.jpg", alt="#")
								.description
									ul.tags
										li Dota 2
										li LifeStyle
										li Oct 19
										li Walter White
									h3 Turtle Beach Reports $3.1M Net Loss, ROCCAT Integration, and Share Repurchase
							a.item(href="#")
								img(src="img/post-3.jpg", alt="#")
								.description
									ul.tags
										li Dota 2
										li LifeStyle
										li Oct 19
										li Walter White
									h3 Is Franchising The Future For Esports?
							a.item(href="#")
								img(src="img/post-3.jpg", alt="#")
								.description
									ul.tags
										li Dota 2
										li LifeStyle
										li Oct 19
										li Walter White
									h3 Is Franchising The Future For Esports?
						a.button.gray(href="#") See more
					.news.full-width
						h2
							span Opinions
						.items
							a.item(href="#")
								img(src="http://via.placeholder.com/680x320", alt="#")
								.description
									h3 Slasher explains
										br
										| upside of esports on
										br
										| Fox Business Network
							a.item(href="#")
								img(src="http://via.placeholder.com/320x198", alt="#")
								.description
									ul.tags
										li Dota 2
										li LifeStyle
										li Oct 19
										li Walter White
									h3 Is Franchising The Future For Esports?
							a.item(href="#")
								img(src="img/post-2.jpg", alt="#")
								.description
									ul.tags
										li Dota 2
										li LifeStyle
										li Oct 19
										li Walter White
									h3 Turtle Beach Reports $3.1M Net Loss, ROCCAT Integration, and Share Repurchase
							a.item(href="#")
								img(src="http://via.placeholder.com/320x198", alt="#")
								.description
									ul.tags
										li Dota 2
										li LifeStyle
										li Oct 19
										li Walter White
									h3 Is Franchising The Future For Esports?
							a.item(href="#")
								img(src="img/post-2.jpg", alt="#")
								.description
									ul.tags
										li Dota 2
										li LifeStyle
										li Oct 19
										li Walter White
									h3 Turtle Beach Reports $3.1M Net Loss, ROCCAT Integration, and Share Repurchase
							a.item(href="#")
								img(src="img/post-3.jpg", alt="#")
								.description
									ul.tags
										li Dota 2
										li LifeStyle
										li Oct 19
										li Walter White
									h3 Is Franchising The Future For Esports?
							a.item(href="#")
								img(src="img/post-3.jpg", alt="#")
								.description
									ul.tags
										li Dota 2
										li LifeStyle
										li Oct 19
										li Walter White
									h3 Is Franchising The Future For Esports?
						a.button.gray(href="#") See more
