footer
	.container
		.row
			.col-lg-12.col-md-12.col-sm-12.col-xs-12
				.top-block
					p Subscribe to Our Newsletter
					form
						.input
							input(type="text" placeholder="Name *")
						.input
							input(type="email" placeholder="E-mail *")
						.input
							input.button.purple(type="submit" value="subscribe")
					hr.sline
				.bottom-block
					a.logo.icon-logo(href="/")
						span E
						| CENTRAL
						span SPORTS
					.copyright
						p Ecentralsports is an events and media company, as well as a daily source of esports business news and opinion.
						p
							strong Contact us:
							a(href="mailto:info@ecentralsports.com") info@ecentralsports.com
				.mobile-block
					ul
						li
							a(href="#") About Us
						li
							a(href="#") Newsletter
						li.icon-facebook
							a(href="#") Facebook
						li.icon-instagram
							a(href="#") Instagram
						li.icon-linkedin
							a(href="#") Linkedin
						li.icon-twitter
							a(href="#") Twitter
						li.icon-youtube
							a(href="#") Youtube
						li.icon-rss
							a(href="#") Rss
