header
	.top-header
		.container
			.row
				.col-lg-12.col-md-12.col-sm-12.col-xs-12
					ul
						li
							a(href="#") About Us
						li
							a(href="#") Newsletter
						li.icon-facebook
							a(href="#") Facebook
						li.icon-instagram
							a(href="#") Instagram
						li.icon-linkedin
							a(href="#") Linkedin
						li.icon-twitter
							a(href="#") Twitter
						li.icon-youtube
							a(href="#") Youtube
						li.icon-rss
							a(href="#") Rss
	.bottom-header
		.container
			.row
				.col-lg-12.col-md-12.col-sm-12.col-xs-12
					a.logo.icon-logo(href="/")
						span E
						| CENTRAL
						span SPORTS
					ul.menu
						li.menu-item-has-children
							a(href="#") eSports News
						li
							a(href="#") Near You
						li.menu-item-has-children
							a(href="#") Games
						li.menu-item-has-children
							a(href="#") Tournaments
					form.search
						input(type="search" placeholder="You searching for...")
						button.icon-search
