section
	.search
		.container
			.row
				.col-lg-12.col-md-12.col-sm-12.col-xs-12
					.breadcrumbs
						span
							a(href="#")
								span Home Page
						span Search
					h1 Search Results for:
						span sadfasdfa
	.container
		.row
			.col-lg-12.col-md-12.col-sm-12.col-xs-12
				.content
					.no-results
						img(src="img/no-results.svg", alt="#")
						p Sorry, but nothing found for
							span “sadfasdfa”.
							| Please try again with some different keywords.
						form
							.input
								input(type="search" placeholder="Search")
								button.icon-search Search
				.sidebar
					img(src="http://via.placeholder.com/320x380", alt="#")
