section
	.search
		.container
			.row
				.col-lg-12.col-md-12.col-sm-12.col-xs-12
					.breadcrumbs
						span
							a(href="#")
								span Home Page
						span Search
					h1 Search Results for:
						span esports
					form
						.input
							input(type="search" placeholder="Search")
							button.icon-search
						select
							option(value="esports-news") eSports News
							option(value="near-you") Near You
							option(value="games") Games
							option(value="tournaments") Tournaments
						select
							option(value="all") All
							option(value="digest") Digest
							option(value="news") News
							option(value="lifestyle") Lifestyle
							option(value="culture") Culture
							option(value="opinions") Opinions
	.container
		.row
			.col-lg-12.col-md-12.col-sm-12.col-xs-12
				.content
					.results
						a.item(href="#")
							img(src="http://via.placeholder.com/320x198", alt="#")
							p.tag
								img(src="img/flame.svg", alt="#")
								| HOT
							.description
								ul.tags
									li Markets
									li Dota 2
									li Oct 19
									li Walter White
								h3 Streamer Disguised Toast Signs Exclusive Deal With Facebook Gaming
								p Despite winning the whole tournament, Secret performed poorly in the group stages, with losses to EG, PSG.LGD, and even Keen Gaming. A trip to the losers bracket proved to be just what the team needed to stand back up, as they battled through OG, TNC Predator, Gambit, and PSG on their way to finals.
						a.item(href="#")
							img(src="http://via.placeholder.com/320x198", alt="#")
							p.tag
								img(src="img/flame.svg", alt="#")
								| HOT
							.description
								ul.tags
									li Markets
									li Dota 2
									li Oct 19
									li Walter White
								h3 7Sports Acquires eSports.com Following Insolvency of Joint Venture Partner
								p Despite winning the whole tournament, Secret performed poorly in the group stages, with losses to EG, PSG.LGD, and even Keen Gaming. A trip to the losers bracket proved to be just what the team needed to stand back up, as they battled through OG, TNC Predator, Gambit, and PSG on their way to finals.
						a.item(href="#")
							img(src="http://via.placeholder.com/320x198", alt="#")
							p.tag
								img(src="img/flame.svg", alt="#")
								| HOT
							.description
								ul.tags
									li Markets
									li Dota 2
									li Oct 19
									li Walter White
								h3 Streamer Disguised Toast Signs Exclusive Deal With Facebook Gaming
								p Despite winning the whole tournament, Secret performed poorly in the group stages, with losses to EG, PSG.LGD, and even Keen Gaming. A trip to the losers bracket proved to be just what the team needed to stand back up, as they battled through OG, TNC Predator, Gambit, and PSG on their way to finals.
						a.item(href="#")
							img(src="http://via.placeholder.com/320x198", alt="#")
							p.tag
								img(src="img/flame.svg", alt="#")
								| HOT
							.description
								ul.tags
									li Markets
									li Dota 2
									li Oct 19
									li Walter White
								h3 Streamer Disguised Toast Signs Exclusive Deal With Facebook Gaming
								p Despite winning the whole tournament, Secret performed poorly in the group stages, with losses to EG, PSG.LGD, and even Keen Gaming. A trip to the losers bracket proved to be just what the team needed to stand back up, as they battled through OG, TNC Predator, Gambit, and PSG on their way to finals.
						nav.navigation.pagination(role='navigation')
							.nav-links
								a.prev.page-numbers(href='#')
									i.icon-arrow Previous
								a.page-numbers(href='#') 1
								span.page-numbers.current 2
								a.page-numbers(href='#') 3
								span.page-numbers.dots …
								a.page-numbers(href='#') 10
								a.page-numbers(href='#') 11
								a.next.page-numbers(href='#')
									i.icon-arrow Next
				.sidebar
					img(src="http://via.placeholder.com/320x380", alt="#")
