section
	.banner(style="background-image:url(img/banner.jpg);")
		.container
			.row
				.col-lg-12.col-md-12.col-sm-12.col-xs-12
					.breadcrumbs
						span
							a(href="#")
								span Home Page
						span
							a(href="#")
								span Tournaments
						span Asia Challenger League Season 3
					h1 Asia Challenger League Season 3
					ul
						li
							img(src="img/dota.png", alt="#")
							| Dota 2
						li Ongoing
					ul.details
						li Dates:
							span 11 Oct - 15 Nov
						li Location:
							span Online, International
						li Prize Pool:
							span $42,100
	.tournament-content
		.container
			.row
				.col-lg-12.col-md-12.col-sm-12.col-xs-12
