
<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="top-block">
          <p>Subscribe to Our Newsletter</p>
          <form>
            <div class="input">
              <input type="text" placeholder="Name *"/>
            </div>
            <div class="input">
              <input type="email" placeholder="E-mail *"/>
            </div>
            <div class="input">
              <input class="button purple" type="submit" value="subscribe"/>
            </div>
          </form>
          <hr class="sline"/>
        </div>
        <div class="bottom-block"><a class="logo icon-logo" href="/"> <span>E</span>CENTRAL<span>SPORTS</span></a>
          <div class="copyright">
            <p>Ecentralsports is an events and media company, as well as a daily source of esports business news and opinion.</p>
            <p> <strong>Contact us: </strong><a href="mailto:info@ecentralsports.com">info@ecentralsports.com</a></p>
          </div>
        </div>
        <div class="mobile-block">
          <ul>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Newsletter</a></li>
            <li class="icon-facebook"><a href="#">Facebook</a></li>
            <li class="icon-instagram"><a href="#">Instagram</a></li>
            <li class="icon-linkedin"><a href="#">Linkedin</a></li>
            <li class="icon-twitter"><a href="#">Twitter</a></li>
            <li class="icon-youtube"><a href="#">Youtube</a></li>
            <li class="icon-rss"><a href="#">Rss</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
