
<header>
  <div class="top-header">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <ul>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Newsletter</a></li>
            <li class="icon-facebook"><a href="#">Facebook</a></li>
            <li class="icon-instagram"><a href="#">Instagram</a></li>
            <li class="icon-linkedin"><a href="#">Linkedin</a></li>
            <li class="icon-twitter"><a href="#">Twitter</a></li>
            <li class="icon-youtube"><a href="#">Youtube</a></li>
            <li class="icon-rss"><a href="#">Rss</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="bottom-header">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"><a class="logo icon-logo" href="/"> <span>E</span>CENTRAL<span>SPORTS</span></a>
          <ul class="menu">
            <li class="menu-item-has-children"><a href="#">eSports News</a></li>
            <li><a href="#">Near You</a></li>
            <li class="menu-item-has-children"><a href="#">Games</a></li>
            <li class="menu-item-has-children"><a href="#">Tournaments</a></li>
          </ul>
          <form class="search">
            <input type="search" placeholder="You searching for..."/>
            <button class="icon-search"></button>
          </form>
        </div>
      </div>
    </div>
  </div>
</header>
